.slidev-toc li {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1em;
}

.slidev-layout:not(.intro) {
  font-size: 2.5rem;
}

.slidev-layout.intro {
  font-size: 1.5rem;
}

.slidev-layout:not(.intro):not(.cover) {
  background: calc(100% - 20px) calc(100% - 20px) / 100px no-repeat url("/parisjs.jpg");
}

.slidev-layout .slidev-toc-item {
  line-height: 1.2em;
}

.slidev-layout p, .slidev-layout ul, .slidev-layout ol, .slidev-layout .slidev-toc {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.2em;
}

.slidev-layout ul, .slidev-layout ol {
  font-size: 1.8rem;
}

.slidev-layout li {
  line-height: 1.5em;
}
